Repository yadwy-app/yadwy-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: bunx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}"
  stage_fixed: true

prettier:
  run: bunx prettier --write "{staged_files}"
  stage_fixed: true

fix : the PR #48 and make some refactoring
  apps/seller/package.json
Due: biome

fix : fix deployment issue
  tsconfig.json
Due: biome

fix : deployment issues
  apps/seller/package.json
Due: biome

fix : deployment issues
  tsconfig.json
Due: biome

add : add bun.lock
  apps/store/src/app/[locale]/(root)/product-details/[id]/page.tsx
  apps/store/src/app/[locale]/(root)/product-details/_components/about-seller.tsx
  bun.lock
Due: biome

fix : fixed conflicts
  bun.lock
Due: none

Fix : tailwind didn't compile in shared UI components
  apps/seller/components.json
  apps/seller/package.json
  apps/seller/src/styles/globals.css
  bun.lock
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/styles/globals.css
Due: biome

fix : fix deployment
  apps/store/src/app/[locale]/(root)/product-details/_components/about-seller.tsx
Due: biome

style: remove button background
  apps/store/src/app/[locale]/(root)/product-details/_components/details.tsx
Due: biome

Update README File
  packages/ui/README.md
Due: prettier

feat : Update README file
  README.md
Due: prettier

refactor : refactor dashboard-home
  apps/seller/src/app/[locale]/_components/dashboard-home.tsx
  apps/seller/src/app/[locale]/_components/dashboard-layout.tsx
  apps/seller/src/app/[locale]/_components/metric-card.tsx
  apps/seller/src/app/[locale]/_components/order-summary.tsx
  apps/seller/src/app/[locale]/_components/store-performance.tsx
  apps/seller/src/data/json.ts
  apps/seller/src/lib/routes.ts
Due: biome

refactor : refactor dashboard layout
  apps/seller/src/app/[locale]/_components/dashboard-layout.tsx
  apps/seller/src/app/[locale]/_components/desktop-navbar.tsx
  apps/seller/src/app/[locale]/_components/home.tsx
  apps/seller/src/app/[locale]/_components/index.tsx
  apps/seller/src/app/[locale]/_components/mobile-navbar.tsx
  apps/seller/src/app/[locale]/_components/notifications.tsx
  apps/seller/src/app/[locale]/page.tsx
  apps/seller/src/components/dashboard-home.tsx
  apps/seller/src/components/dashboard-layout.tsx
  packages/ui/src/index.ts
Due: biome

refactor : made a shared layout & refactor middleware to access path in server component
  apps/seller/README.md
  apps/seller/src/app/[locale]/layout.tsx
  apps/seller/src/app/[locale]/orders/[id]/page.tsx
  apps/seller/src/app/[locale]/orders/page.tsx
  apps/seller/src/app/[locale]/page.tsx
  apps/seller/src/app/[locale]/products/edit/[id]/page.tsx
  apps/seller/src/app/[locale]/products/new/page.tsx
  apps/seller/src/app/[locale]/products/page.tsx
  apps/seller/src/app/[locale]/settings/page.tsx
  apps/seller/src/app/[locale]/wallet/page.tsx
  apps/seller/src/lib/not-shared-dashboard-layout.ts
Due: biome, prettier

refactor : refactor middle ware
  apps/seller/README.md
  apps/seller/src/middleware.ts
Due: biome, prettier

refactor: onboarding steps
  apps/seller/src/app/[locale]/onboarding/completion-step.tsx
  apps/seller/src/app/[locale]/onboarding/page.tsx
  apps/seller/src/app/[locale]/onboarding/product-category-step.tsx
  apps/seller/src/app/[locale]/onboarding/shipping-address-step.tsx
  apps/seller/src/app/[locale]/onboarding/store-information-step.tsx
  apps/seller/src/components/onboarding-flow.tsx
Due: biome

refactor : refactor wallet
  apps/seller/src/app/[locale]/wallet/page.tsx
  apps/seller/src/app/[locale]/wallet/wallet-header.tsx
  apps/seller/src/app/[locale]/wallet/wallet-summary-cards.tsx
  apps/seller/src/app/[locale]/wallet/wallet-transactions.tsx
  apps/seller/src/components/wallet-page.tsx
  apps/seller/src/data/json.ts
Due: biome

fix : fix type issue
  apps/seller/src/data/json.ts
Due: biome

offfffffffffff
  bun.lock
Due: none

refactor: update authentication forms and layouts with new structure and validation
  apps/store/src/app/[locale]/(auth)/_components/password-field.tsx
  apps/store/src/app/[locale]/(auth)/_components/providers.tsx
  apps/store/src/app/[locale]/(auth)/layout.tsx
  apps/store/src/app/[locale]/(auth)/login/form.tsx
  apps/store/src/app/[locale]/(auth)/login/page.tsx
  apps/store/src/app/[locale]/(auth)/sign-up/form.tsx
  apps/store/src/components/back-button.tsx
Due: biome

make seller navbar sticky
  apps/seller/src/app/[locale]/_components/desktop-navbar.tsx
Due: biome

update the code
  bun.lock
Due: none

make the sidebar collasable
  apps/seller/src/app/[locale]/_components/desktop-navbar.tsx
  apps/seller/src/app/[locale]/_components/index.tsx
Due: biome

fix deployment issue
  apps/seller/next.config.js
  apps/seller/package.json
  apps/store/next.config.js
  apps/store/package.json
  bun.lock
Due: biome

Fix: deployment issue
  apps/seller/src/app/[locale]/layout.tsx
  apps/store/src/app/[locale]/(root)/_sections/categories.tsx
  apps/store/src/app/[locale]/layout.tsx
  apps/store/src/i18n/request.ts
Due: biome

fix: fix typo issue
  apps/store/src/app/[locale]/profile/_components/sidebar-nav.tsx
Due: biome

fix: deploying issue
  apps/seller/package.json
  apps/store/package.json
  bun.lock
  packages/api/package.json
Due: biome

fix: align checkout schema types with form data
  apps/store/src/schemas/checkout.ts
Due: biome

docs: add accessibility and zod schema rules to AGENTS.md
  AGENTS.md
Due: prettier

refactor: remove old billing directory entirely
  apps/store/src/app/[locale]/(root)/billing/page.tsx
Due: biome

feat: store UI improvements - navbar, mobile nav, footer, customize page
  apps/store/messages/ar.json
  apps/store/messages/en.json
  apps/store/next.config.js
  apps/store/src/app/[locale]/(root)/_components/artisan-card.tsx
  apps/store/src/app/[locale]/(root)/_components/feature-card.tsx
  apps/store/src/app/[locale]/(root)/_components/hero-section.tsx
  apps/store/src/app/[locale]/(root)/_components/order-banner.tsx
  apps/store/src/app/[locale]/(root)/_sections/also-like.tsx
  apps/store/src/app/[locale]/(root)/_sections/feature.tsx
  apps/store/src/app/[locale]/(root)/_sections/featured-artisans.tsx
  apps/store/src/app/[locale]/(root)/_sections/gifts.tsx
  apps/store/src/app/[locale]/(root)/_sections/how-it-works.tsx
  apps/store/src/app/[locale]/(root)/customize/_components/customize-filter-bar.tsx
  apps/store/src/app/[locale]/(root)/customize/_components/customize-header.tsx
  apps/store/src/app/[locale]/(root)/customize/_components/customize-products-grid.tsx
  apps/store/src/app/[locale]/(root)/customize/page.tsx
  apps/store/src/app/[locale]/(root)/page.tsx
  apps/store/src/app/[locale]/layout.tsx
  apps/store/src/components/layouts/category-mega-menu.tsx
  apps/store/src/components/layouts/footer.tsx
  apps/store/src/components/layouts/header.tsx
  apps/store/src/components/layouts/main-nav.tsx
  apps/store/src/components/layouts/mobile-nav.tsx
  apps/store/src/components/layouts/phone-menu.tsx
  apps/store/src/components/layouts/search-bar.tsx
  apps/store/src/components/product-card.tsx
  apps/store/src/components/section.tsx
  apps/store/src/data/index.tsx
  apps/store/src/styles/fonts.ts
  apps/store/src/styles/globals.css
  packages/types/src/product.ts
Due: biome

First phase of refactoring the seller dashboard
  AGENTS.md
  apps/seller/src/app/[locale]/dashboard/_components/home.tsx
  apps/seller/src/app/[locale]/dashboard/_components/metric-card.tsx
  apps/seller/src/app/[locale]/dashboard/_components/order-summary.tsx
  apps/seller/src/app/[locale]/dashboard/_components/store-performance.tsx
  apps/seller/src/app/[locale]/layout.tsx
  apps/seller/src/app/[locale]/onboarding/_components/completion-step.tsx
  apps/seller/src/app/[locale]/onboarding/_components/product-category-step.tsx
  apps/seller/src/app/[locale]/onboarding/_components/shipping-address-step.tsx
  apps/seller/src/app/[locale]/onboarding/_components/store-information-step.tsx
  apps/seller/src/app/[locale]/onboarding/page.tsx
  apps/seller/src/app/[locale]/page.tsx
  apps/seller/src/app/[locale]/products/new/page.tsx
  apps/seller/src/app/[locale]/wallet/_components/wallet-header.tsx
  apps/seller/src/app/[locale]/wallet/_components/wallet-summary-cards.tsx
  apps/seller/src/app/[locale]/wallet/_components/wallet-transactions.tsx
  apps/seller/src/app/[locale]/wallet/page.tsx
  apps/seller/src/components/dashboard-layout.tsx
  apps/seller/src/components/desktop-navbar.tsx
  apps/seller/src/components/mobile-navbar.tsx
  apps/seller/src/components/notifications.tsx
Due: biome, prettier

fix new product issue
  TODO.md
  apps/seller/src/app/[locale]/dashboard/_components/home.tsx
  apps/seller/src/app/[locale]/products/new/page.tsx
Due: biome, prettier

prevent layout shifting in the dropdown radix UI
  apps/seller/src/styles/globals.css
Due: biome

feat: add Claude skills for frontend design
  .claude/skills/frontend-design/SKILL.md
Due: prettier

chore: add Docker configuration for containerized deployment
  .dockerignore
  Dockerfile
Due: none

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css,scss}
  prettier: any of: *.{html,yaml,yml,md}
