Repository yadwy-app/yadwy-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: check, format

check:
  run: pnpm biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again

format:
  run: pnpm prettier --write "{staged_files}" && git update-index --again

refactor : the tsconfig.json and use text-based bun.lock instead of a binary file
  .github/workflows/tests-and-checks.yml
  apps/store/.prettierignore
  apps/store/package.json
  apps/store/src/app/[locale]/(auth)/_components/providers.tsx
  apps/store/src/app/[locale]/(root)/product-details/[id]/page.tsx
  apps/store/src/app/providers.tsx
  apps/store/src/components/layouts/cart-actions.tsx
  apps/store/src/styles/globals.css
  apps/store/tsconfig.json
  bun.lock
  bun.lockb
  package.json
  packages/config/tsconfig.json
  tsconfig.json
  turbo.json
Due: check, format

chore : remove .husky files
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

chore : add .husky to the gitingore
  .gitignore
Due: none

chore : use Biome to handle css files and fix the GitHub Action
  .github/workflows/tests-and-checks.yml
  .prettierignore
  apps/store/.prettierignore
  apps/store/src/styles/globals.css
  lefthook.yaml
  package.json
Due: check, format

docs : update the README file
  README.md
  lefthook.yaml
Due: format

chore : update the .prettierignore files
  .prettierignore
  apps/store/.prettierignore
Due: none

feat : add api package to handle the auth and the communication with the backend
  bun.lock
  packages/api/hooks/index.ts
  packages/api/hooks/products.ts
  packages/api/package.json
  packages/api/services/api.client.ts
  packages/api/services/api.server.ts
  packages/api/services/api.ts
  packages/api/services/products.ts
  packages/api/tsconfig.json
  packages/api/utils/axios.client.ts
  packages/api/utils/axios.server.ts
  packages/api/utils/common.ts
  packages/api/utils/cookies.client.ts
  packages/api/utils/cookies.server.ts
  packages/api/utils/crud-api.ts
  packages/api/utils/crud-hooks.ts
  packages/api/utils/session.client.ts
  packages/api/utils/session.server.ts
  packages/api/utils/types.ts
Due: check

refactor : use Biome and Prettier only in the root and move the types to `@yadwy/types` pkg
  apps/store/.prettierignore
  apps/store/package.json
  apps/store/src/app/[locale]/(auth)/_components/form.tsx
  apps/store/src/app/[locale]/(root)/_sections/products.tsx
  apps/store/src/app/[locale]/(root)/cart/_components/box-product-cart.tsx
  apps/store/src/app/[locale]/(root)/cart/_components/box-product.tsx
  apps/store/src/app/[locale]/(root)/cart/_components/cart-sheet.tsx
  apps/store/src/app/[locale]/layout.tsx
  apps/store/src/app/[locale]/profile/_components/form.tsx
  apps/store/src/components/product-card.tsx
  apps/store/src/data/index.tsx
  apps/store/src/lib/forms.ts
  apps/store/src/lib/product-utils.ts
  apps/store/src/types/index.ts
  bun.lock
  package.json
  packages/types/package.json
  packages/types/src/entity.ts
  packages/types/src/index.ts
  packages/types/src/product.ts
  packages/types/tsconfig.json
  turbo.json
Due: check

docs : add docs (README.md) for the api package
  packages/api/README.md
  packages/api/utils/cookies.client.ts
  packages/api/utils/cookies.server.ts
  packages/api/utils/session.client.ts
Due: check, format

feat : check the access token each time `useSession` is used
  packages/api/utils/session.client.ts
Due: check

docs : update the repo README file
  README.md
Due: format

fix : the build and remove the Biome check before the build process
  apps/store/package.json
Due: check

docs : update README.md of the api package
  packages/api/README.md
Due: format

refactor : use NEXT_PUBLIC_BACKEND_URL instead of BACKEND_URL
  apps/store/.env.example
  packages/api/README.md
  packages/api/utils/common.ts
  packages/api/utils/session.server.ts
Due: check, format

feat : add merchant app and add necessary configuration
  apps/merchant/.env.example
  apps/merchant/.prettierignore
  apps/merchant/components.json
  apps/merchant/messages/ar.json
  apps/merchant/messages/en.json
  apps/merchant/next.config.js
  apps/merchant/package.json
  apps/merchant/postcss.config.js
  apps/merchant/src/app/[locale]/layout.tsx
  apps/merchant/src/app/[locale]/page.tsx
  apps/merchant/src/app/layout.tsx
  apps/merchant/src/app/not-found.tsx
  apps/merchant/src/app/providers.tsx
  apps/merchant/src/components/ui/button.tsx
  apps/merchant/src/env.js
  apps/merchant/src/i18n/request.ts
  apps/merchant/src/i18n/routing.ts
  apps/merchant/src/lib/product-utils.ts
  apps/merchant/src/lib/utils.ts
  apps/merchant/src/middleware.ts
  apps/merchant/src/placeholder.svg
  apps/merchant/src/styles/fonts.ts
  apps/merchant/src/styles/globals.css
  apps/merchant/src/types/forms.ts
  apps/merchant/src/types/index.ts
  apps/merchant/tsconfig.json
Due: check, format

feat : remove yup package
  apps/merchant/package.json
  apps/store/package.json
Due: check

refactor : rename merchant to seller
  apps/seller/.env.example
  apps/seller/.prettierignore
  apps/seller/components.json
  apps/seller/messages/ar.json
  apps/seller/messages/en.json
  apps/seller/next.config.js
  apps/seller/package.json
  apps/seller/postcss.config.js
  apps/seller/src/app/[locale]/layout.tsx
  apps/seller/src/app/[locale]/page.tsx
  apps/seller/src/app/layout.tsx
  apps/seller/src/app/not-found.tsx
  apps/seller/src/app/providers.tsx
  apps/seller/src/components/ui/button.tsx
  apps/seller/src/env.js
  apps/seller/src/i18n/request.ts
  apps/seller/src/i18n/routing.ts
  apps/seller/src/lib/product-utils.ts
  apps/seller/src/lib/utils.ts
  apps/seller/src/middleware.ts
  apps/seller/src/placeholder.svg
  apps/seller/src/styles/fonts.ts
  apps/seller/src/styles/globals.css
  apps/seller/src/types/forms.ts
  apps/seller/src/types/index.ts
  apps/seller/tsconfig.json
Due: check, format

feat : exclude shadcn from checking in biome and ts
  apps/seller/package.json
  apps/seller/src/lib/product-utils.ts
  apps/seller/tsconfig.json
Due: check

refactor : fix types
  apps/seller/src/components/ui/progress.tsx
Due: check

refactor : remove merchant dir
  apps/merchant/.env.example
  apps/merchant/.prettierignore
  apps/merchant/components.json
  apps/merchant/messages/ar.json
  apps/merchant/messages/en.json
  apps/merchant/next.config.js
  apps/merchant/package.json
  apps/merchant/postcss.config.js
  apps/merchant/src/app/[locale]/layout.tsx
  apps/merchant/src/app/[locale]/page.tsx
  apps/merchant/src/app/layout.tsx
  apps/merchant/src/app/not-found.tsx
  apps/merchant/src/app/providers.tsx
  apps/merchant/src/components/ui/button.tsx
  apps/merchant/src/env.js
  apps/merchant/src/i18n/request.ts
  apps/merchant/src/i18n/routing.ts
  apps/merchant/src/lib/product-utils.ts
  apps/merchant/src/lib/utils.ts
  apps/merchant/src/middleware.ts
  apps/merchant/src/placeholder.svg
  apps/merchant/src/styles/fonts.ts
  apps/merchant/src/styles/globals.css
  apps/merchant/src/types/forms.ts
  apps/merchant/src/types/index.ts
  apps/merchant/tsconfig.json
Due: check, format

fix : fix bun i error
  bun.lock
Due: none

fix : the PR #48 and make some refactoring
  apps/seller/package.json
  apps/seller/public/placeholder-user.png
  apps/seller/public/placeholder.svg
  apps/seller/src/app/[locale]/orders/[id]/page.tsx
  apps/seller/src/app/[locale]/products/edit/[id]/page.tsx
  apps/seller/src/app/not-found.tsx
  apps/seller/src/components/dashboard-layout.tsx
  apps/seller/src/components/onboarding-flow.tsx
  package.json
Due: check

fix : fix deployment issue
  tsconfig.json
Due: check

fix : fix deployment issue
  bun.lock
Due: none

change : github action
  .github/workflows/tests-and-checks.yml
Due: format

fix : fix deployment issue
  apps/seller/package.json
Due: check

fix : deployment issues
  bun.lock
  tsconfig.json
Due: check

fix : deployment issues
  apps/seller/package.json
Due: check

feat : update readme file
  README.md
Due: format

feat : update biome and README
  README.md
  biome.json
Due: check, format

refactor : update biome
  biome.json
Due: check

add : add bun.lock
  apps/store/messages/ar.json
  apps/store/messages/en.json
  apps/store/package.json
  apps/store/src/app/[locale]/(auth)/_components/field.tsx
  apps/store/src/app/[locale]/(auth)/_components/form.tsx
  apps/store/src/app/[locale]/(auth)/_components/providers.tsx
  apps/store/src/app/[locale]/(auth)/login/form.tsx
  apps/store/src/app/[locale]/(auth)/login/page.tsx
  apps/store/src/app/[locale]/(auth)/sign-up/form.tsx
  apps/store/src/app/[locale]/(auth)/sign-up/page.tsx
  apps/store/src/app/[locale]/(root)/product-details/[id]/page.tsx
  apps/store/src/app/[locale]/(root)/product-details/_components/about-seller.tsx
  apps/store/src/app/[locale]/(root)/product-details/_components/about-tabs.tsx
  apps/store/src/app/[locale]/(root)/product-details/_components/button-actions.tsx
  apps/store/src/app/[locale]/(root)/product-details/_components/details.tsx
  apps/store/src/app/[locale]/(root)/product-details/_components/feature.tsx
  apps/store/src/app/[locale]/(root)/product-details/_components/product-images.tsx
  apps/store/src/app/[locale]/(root)/product-details/_components/product-overview.tsx
  apps/store/src/app/[locale]/(root)/product-details/_components/quantity-counter.tsx
  apps/store/src/components/product-card.tsx
  apps/store/src/components/translation-example.tsx
  apps/store/src/components/ui/avatar.tsx
  apps/store/src/data/index.tsx
  apps/store/src/i18n/auth-translations.ts
  apps/store/src/i18n/cached-translations.ts
  apps/store/src/i18n/request.ts
  bun.lock
  packages/config/next.config.json
Due: check

fix: fix fonts and product section in product-details
  apps/store/src/app/[locale]/(root)/product-details/[id]/page.tsx
  apps/store/src/app/[locale]/(root)/product-details/_components/about-seller.tsx
  apps/store/src/app/[locale]/(root)/product-details/_components/similar-products.tsx
Due: check

fix : fixed conflicts
  bun.lock
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format: any of: *.{css,scss,yaml,yml,md}
